.App{
    display: flex;
    justify-content: flex-start;
    padding:100px 3%
}
.area-select{
    font-size: 12px;
    color: #858585;
    height: 30px;
    line-height: 30px;
}
.area-input{
    margin-left: 5px;
    width: 80%;
    flex:1 0 auto
}
.area-input div{
    border:1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    width: 95%;
    outline: none;
    color: #7a7a7a;
    font-size: 12px;
}